*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vh;
}

.menu1{
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 11, 66);
    width: 100vw;
    height: 70vh;
    align-items: center;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    gap: 100px;
}

.interativo{
    display: flex;
    gap:200px;
}   

.textos{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    font-size: 1.5rem;
}

.textos h3{
    font-size: 1.2rem;
}

.menu1 button{
    height: 40px;
    width: 300px;
    border-radius: 25px;
    border: none;
    background-color: rgb(8, 150, 8);
    font-size: 1rem;
    color: white;
}

.menu1 input{
    height: 50px;
    color: gray;
}

.menu1 img{
    height: 450px;
}

.menu2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    gap: 80px;
    margin-top: 20px;
}
.caixas{
    display: flex;
    gap: 50px;
}

.caixa{
    display: flex;
    flex-direction: column  ;
    background-color: rgb(1, 205, 205);
    height: 250px;
    width: 400px;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1.5rem;
}

.menu2 img{
    height: 100px;
}